body {
    margin: 0;
    padding: 0;
    background-color: #e8ecf0;
    font-family: Calibri;
    font-size: 1.2rem;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

.pointer {
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

.object-fit-cover {
    object-fit: cover;
}

.rounded-circle {
    border-radius: 50% !important;
}

::placeholder {
    color: #a4acc1;
    opacity: 1;
    font-family: Calibri;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border: 1px solid #235ee7;
    outline: none;
}

.border-bottom {
    border-bottom: 2px solid #e2e9ee;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    pointer-events: none;
}

.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

.flex-column-reverse {
    flex-direction: column-reverse !important;
}

.text-white {
    color: #ffffff !important;
}

.text-dark {
    color: #000000 !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-light-silver {
    background-color: #fafbfc !important;
}

.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}